<nav>
    <div class="navbar">
        <div class="logo">
            <h4 class="text-white">SGBB</h4>
        </div>
        <div class="links">
            <div class="opt-routes">
                <a routerLink="/usuarios" routerLinkActive="active">Usuários</a>
                <a routerLink="/turmas" routerLinkActive="active">Turmas</a>
                <a routerLink="/disciplinas" routerLinkActive="active">Disciplinas</a>
                <a routerLink="/itens-disciplinas" routerLinkActive="active">Itens Disciplinas</a>
            </div>
        </div>
        <div class="d-none d-lg-block">
            <a href="javascript:void(0)" class="text-white" (click)="logout()">{{nomeCompleto}} fazer logout</a>
        </div>

    </div>
</nav>