<app-header></app-header>
<div id="container">
    <div class="backdrop-modal fade" [class.show]="openModal">
        <div class="content-modal bg-white">
            <div class="close-modal" (click)="fecharModal()">
                <img width="25px" src="../../../assets/img/icon-close.svg">
            </div>
            <h3>{{titleModal}}</h3>
            <div id="alert" class="alert" role="alert" [hidden]="alertHidden"></div>
            <label>Disciplina</label>
            <select class="form-control" type="number" [(ngModel)]="itemDisciplina.disciplinaId">
                <option value="undefined" disabled selected>Disciplina</option>
                <option *ngFor=" let disciplina of disciplinas" [ngValue]="disciplina.id">
                    <span>{{disciplina.nome}} ({{disciplina.serie}})</span>
                </option>
            </select>
            <label>Título</label>
            <input class="form-control" placeholder="Título" type="text" [(ngModel)]="itemDisciplina.titulo">
            <label>Descrição</label>
            <input class="form-control" placeholder="Descrição" type="text" [(ngModel)]="itemDisciplina.descricao">
            <label>Objetivo</label>
            <select class="form-control" type="text" [(ngModel)]="itemDisciplina.objetivo">
                <option value="undefined" disabled selected>Objetivo</option>
                <option value="Introduzir">Introduzir</option>
                <option value="Trabalhar">Trabalhar</option>
                <option value="Consolidar">Consolidar</option>
                <option value="Retomar">Retomar</option>
            </select>
            <label>Bimestre</label>
            <select class="form-control" type="number" [(ngModel)]="itemDisciplina.bimestre">
                <option value="undefined" disabled selected>Bimestre</option>
                <option value="1">1º Bimestre</option>
                <option value="2">2º Bimestre</option>
                <option value="3">3º Bimestre</option>
                <option value="4">4º Bimestre</option>
            </select><br>
            <div class="">
                <div class="btn-block btn-group">
                    <button type="button" class="btn btn-success  w-100" [class.d-none]="!isNewDisciplina"
                        (click)="adicionar()">Inserir</button>
                    <button type="button" class="btn btn-info  w-100" [class.d-none]="isNewDisciplina"
                        (click)="atualizar()">Finalizar edição</button>
                    <!--<button type="button" class="btn btn-danger" (click)="excluir()">Excluir</button>-->
                    <!--<button type="button" class="btn btn-secondary w-25" (click)="limpar()">Limpar</button>-->
                </div>

            </div>
        </div>
    </div>

    <div class="backdrop-modal fade" [class.show]="openModalDelete">
        <div class="content-modal bg-white">
            <div class="close-modal" (click)="fecharModal()">
                <img width="25px" src="../../../assets/img/icon-close.svg">
            </div>
            <h3>{{titleModal}}</h3>

            <p>Título: {{itemDisciplina.titulo}}</p>
            <p>Descrição: {{itemDisciplina.descricao}}</p>
            <p>Objetivo: {{itemDisciplina.objetivo}}</p>
            <div id="alert" class="alert" role="alert" [hidden]="alertHidden"></div>

            <input class="form-control" type="hidden" [(ngModel)]="itemDisciplina.titulo">

            <input class="form-control" type="hidden" [(ngModel)]="itemDisciplina.descricao">

            <input class="form-control" type="hidden" [(ngModel)]="itemDisciplina.objetivo">



            <div class="">
                <div class="w-100">
                    <button type="button" class="btn btn-danger w-100" (click)="excluir()">Excluir turma</button>
                </div>
            </div>
        </div>
    </div>

    <br><br>


    <div class="banner">

        <p>Gerenciamento de Itens</p>
        <img class="d-none d-lg-block" src="../../../assets/img/Header-Tables.jpg">

        <img class="d-block d-lg-none" src="../../../assets/img/Header-Tables-mobile.jpg">


    </div>

    <div class="p-4 d-flex justify-content-center">
        <div class="content-table">

            <div class="mb-3">
                <button type="button" class="btn btn-info w-100 mb-3" (click)="abrirModal()" (click)="limpar()"
                    (click)="novoItemDisciplina()">
                    Adicionar novo item de disciplina
                </button>

                <select class="form-control" type="number" [(ngModel)]="disciplinaId" (change)="listarPorDisciplina()">
                    <option value="undefined" disabled selected>Selecione a disciplina</option>
                    <option *ngFor="let disciplina of disciplinas" [ngValue]="disciplina.id">
                        {{disciplina.nome}}
                    </option>
                </select>

            </div>
            <div class="table-overflow" *ngIf="disciplinaId != undefined">

                <div class="list-table">
                    <table class="table">
                        <thead class="">
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Objetivo</th>
                                <th scope="col">Operações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let itemDisciplina of itensDisciplinas">
                                <td>{{itemDisciplina.titulo}}</td>
                                <td>{{itemDisciplina.descricao}}</td>
                                <td>{{itemDisciplina.objetivo}}</td>
                                <td class="line-options" (click)="carregar(itemDisciplina.id)">
                                    <a class="position-relative">
                                        <div class="dialog-description" [class.no-opacity]="itemDisciplina.hover">
                                            <p>Editar</p>
                                            <div class="arrow"></div>
                                        </div>
                                        <a href="javascript:void(0)">
                                            <img src="../../../assets/img/icon-edit.svg" width="25px"
                                                (click)="updateItemDisciplina()" (click)="abrirModal()"
                                                (mouseenter)="itemDisciplina.hover=true"
                                                (mouseleave)="itemDisciplina.hover=false">
                                        </a>
                                    </a>
                                    <a class="position-relative">
                                        <div class="dialog-description" [class.no-opacity]="itemDisciplina.hover2">
                                            <p>Excluir</p>
                                            <div class="arrow"></div>
                                        </div>
                                        <a href="javascript:void(0)">
                                            <img src="../../../assets/img/icon-delete.svg" width="19px"
                                                (mouseenter)="itemDisciplina.hover2=true"
                                                (mouseleave)="itemDisciplina.hover2=false"
                                                (click)="updateItemDisciplina()" (click)="abrirModalDelete()">
                                        </a>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>