<div class="login">
    <h3 class="text-center">Bueno Brandão - Gestão de Ensino</h3>
    <div class="form-group">
        <label>Nome de usuário</label>
        <input type="text" class="form-control" placeholder="Seu usuário" [(ngModel)]="usuario.username">
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="usuario.senha">
    </div>
    <div id="alert" class="alert" role="alert" [hidden]="alertHidden"></div>
    <button type="button" class="btn btn-primary offset-4 col-4" (click)="autenticar()">Entrar</button>
</div>