<div id="container">
    <div id="alert" class="alert" role="alert" [hidden]="alertHidden"></div>
    <input class="form-control" placeholder="Nome" type="text" [(ngModel)]="usuario.nomeCompleto"><br>
    <input class="form-control" placeholder="Username" type="text" [(ngModel)]="usuario.username"><br>
    <select class="form-control" type="text" [(ngModel)]="usuario.tipo">
        <option value="undefined" disabled selected>Tipo</option>
        <option value="Professor">Professor</option>
        <option value="Supervisor">Supervisor</option>
        <option value="Administrador">Administrador</option>
    </select>
    <br>
    <input class="form-control" placeholder="Senha" type="password"
        *ngIf="!usuario.id && mesmaSenha || usuario.id && !mesmaSenha" [(ngModel)]="usuario.senha">
    <br [hidden]="mesmaSenha">
    <button class="btn btn-outline-danger btn-block" [hidden]="!mesmaSenha" *ngIf="usuario.id"
        (click)="alterarSenha()">Alterar
        Senha</button>
    <button class="btn btn-outline-primary btn-block" [hidden]="mesmaSenha" *ngIf="usuario.id"
        (click)="manterSenha()">Manter Senha Antiga</button>
    <br>
    <div class="btn-group btn-block">
        <button type="button" class="btn btn-success" (click)="adicionar()">Inserir</button>
        <button type="button" class="btn btn-info" (click)="atualizar()">Editar</button>
        <button type="button" class="btn btn-danger" (click)="excluir()">Excluir</button>
        <button type="button" class="btn btn-secondary" (click)="limpar()">Limpar</button>
    </div>
    <br><br>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome Completo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios" (click)="carregar(usuario.username)">
                <td>{{usuario.nomeCompleto}}</td>
                <td>{{usuario.tipo}}</td>
                <td>{{usuario.username}}</td>
            </tr>
        </tbody>
    </table>
</div>