<app-header></app-header>
<div id="container">
    <div class="backdrop-modal fade" [class.show]="openModal">
        <div class="content-modal bg-white">
            <div class="close-modal" (click)="fecharModal()">
                <img width="25px" src="../../../assets/img/icon-close.svg">
            </div>
            <h3>{{titleModal}}</h3>
            <div id="alert" class="alert" role="alert" [hidden]="alertHidden"></div>
            <label>Nome</label>
            <input class="form-control" placeholder="Nome" type="text" [(ngModel)]="usuario.nomeCompleto">
            <label>Usuário</label>
            <input class="form-control" placeholder="Username" type="text" [(ngModel)]="usuario.username">
            <label>Tipo</label>
            <select class="form-control" type="text" [(ngModel)]="usuario.tipo">
                <option value="undefined" disabled selected>Tipo</option>
                <option value="Professor">Professor</option>
                <option value="Supervisor">Supervisor</option>
                <option value="Administrador">Administrador</option>
            </select>

            <label *ngIf="!usuario.id && mesmaSenha || usuario.id && !mesmaSenha">Senha</label>
            <input class="form-control" placeholder="Senha" type="password"
                *ngIf="!usuario.id && mesmaSenha || usuario.id && !mesmaSenha" [(ngModel)]="usuario.senha">

            <button class="btn btn-warning btn-block mb-2" [hidden]="!mesmaSenha" *ngIf="usuario.id"
                (click)="alterarSenha()">Alterar Senha</button>
            <button class="btn btn-outline-primary btn-block mb-2" [hidden]="mesmaSenha" *ngIf="usuario.id"
                (click)="manterSenha()">Manter Senha Antiga</button>



            <div class="">
                <div class="btn-block btn-group">
                    <button type="button" class="btn btn-success  w-100" [class.d-none]="isNewUser"
                        (click)="adicionar()">Inserir</button>
                    <button type="button" class="btn btn-info  w-100" [class.d-none]="!isNewUser"
                        (click)="atualizar()">Finalizar edição</button>
                    <!--<button type="button" class="btn btn-danger" (click)="excluir()">Excluir</button>-->
                    <!--<button type="button" class="btn btn-secondary w-25" (click)="limpar()">Limpar</button>-->
                </div>
            </div>
        </div>
    </div>

    <div class="backdrop-modal fade" [class.show]="openModalDelete">
        <div class="content-modal bg-white">
            <div class="close-modal" (click)="fecharModal()">
                <img width="25px" src="../../../assets/img/icon-close.svg">
            </div>
            <h3>{{titleModal}}</h3>

            <p>Nome: {{usuario.nomeCompleto}}</p>
            <p>Usuário: {{usuario.username}}</p>
            <p>Tipo: {{usuario.tipo}}</p>
            <div id="alert" class="alert" role="alert" [hidden]="alertHidden"></div>

            <input class="form-control" type="hidden" [(ngModel)]="usuario.nomeCompleto">

            <input class="form-control" type="hidden" [(ngModel)]="usuario.username">

            <select class="form-control d-none" [(ngModel)]="usuario.tipo">
                <option value="undefined" disabled selected>Tipo</option>
                <option value="Professor">Professor</option>
                <option value="Supervisor">Supervisor</option>
                <option value="Administrador">Administrador</option>
            </select>

            <input class="form-control" placeholder="Senha" type="hidden"
                *ngIf="!usuario.id && mesmaSenha || usuario.id && !mesmaSenha" [(ngModel)]="usuario.senha">



            <div class="footer-modal">
                <div class="w-100">
                    <button type="button" class="btn btn-danger w-100" (click)="excluir()">Excluir Usuário</button>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <div class="banner">

        <p>Gerenciamento de Usuários</p>
        <img class="d-none d-lg-block" src="../../../assets/img/Header-Tables.jpg">

        <img class="d-block d-lg-none" src="../../../assets/img/Header-Tables-mobile.jpg">


    </div>
    <div class="d-flex justify-content-center">

        <div class="content-table">

            <div>
                <button type="button" class="btn btn-info w-100 mb-3" (click)="abrirModal()" (click)="limpar()"
                    (click)="newUser()">Adicionar novo
                    usuário</button>
            </div>
            <div class="table-overflow">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Username</th>
                            <th scope="col" class="text-center">Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>{{usuario.nomeCompleto}}</td>
                            <td>{{usuario.tipo}}</td>
                            <td>{{usuario.username}}</td>
                            <td (click)="carregar(usuario.username)">
                                <div class="line-opts">
                                    <a class="position-relative">
                                        <div class="dialog-description" [class.no-opacity]="usuario.hover">
                                            <p>Editar</p>
                                            <div class="arrow"></div>
                                        </div>
                                        <a href="javascript:void(0)">
                                            <img src="../../../assets/img/icon-edit.svg" width="25px"
                                                (click)="updateUser()" (click)="abrirModal()"
                                                (mouseenter)="usuario.hover=true" (mouseleave)="usuario.hover=false">
                                        </a>
                                    </a>
                                    <a class="position-relative">
                                        <div class="dialog-description" [class.no-opacity]="usuario.hover2">
                                            <p>Excluir</p>
                                            <div class="arrow"></div>
                                        </div>
                                        <a href="javascript:void(0)">
                                            <img src="../../../assets/img/icon-delete.svg" width="19px"
                                                (mouseenter)="usuario.hover2=true" (mouseleave)="usuario.hover2=false"
                                                (click)="updateUser()" (click)="abrirModalDelete()">
                                        </a>
                                    </a>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="go-top" [class.d-none]="!btnGoTop" (click)="goTop()">
        <img src="../../../assets/img/icon-arrow-up.svg">
        <p>Ir para o topo</p>
    </div>
</div>