<app-header></app-header>
<div id="container">



    <br><br>


    <div class="banner">

        <p>Checklist</p>
        <img class="d-none d-lg-block" src="../../../assets/img/Header-Tables.jpg">

        <img class="d-block d-lg-none" src="../../../assets/img/Header-Tables-mobile.jpg">


    </div>

    <div class="p-4 d-flex justify-content-center">
        <div class="content-table">

            <div class="mb-3">
                <button type="button" class="btn btn-info w-100 mb-3 d-none" (click)="abrirModal()" (click)="limpar()"
                    (click)="novoItemDisciplina()">Adicionar novo
                    item de disciplina</button>

                <select>
                    <option selected>Selecione disciplina</option>
                    <div *ngFor="let disciplina of disciplinas">
                        <option>{{disciplina.nome}}</option>
                    </div>
                </select>

                <div class="d-flex justify-content-around mb-3">
                    <div>
                        Filtro 1
                    </div>

                    <div>
                        Filtro 2
                    </div>

                    <div>
                        Filtro 3
                    </div>


                </div>
            </div>
            <div class="table-overflow">

                <div class="list-table">
                    <table class="table">
                        <thead class="">
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Objetivo</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let itemDisciplina of itensDisciplinas">
                                <td>{{itemDisciplina.titulo}}</td>
                                <td>{{itemDisciplina.descricao}}</td>
                                <td>{{itemDisciplina.objetivo}}</td>
                                <td class="line-options" (click)="carregar(itemDisciplina.id)">
                                    <select>
                                        <option value="Pendente">Pendente</option>
                                        <option value="Em_Andamento">Em Andamento</option>
                                        <option value="Concluido">Concluído</option>
                                        <option value="Refazer">Refazer</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>