<app-header></app-header>
<div id="container">



    <br><br>


    <div class="banner">

        <p>Checklist</p>
        <img class="d-none d-lg-block" src="../../../assets/img/Header-Tables.jpg">

        <img class="d-block d-lg-none" src="../../../assets/img/Header-Tables-mobile.jpg">


    </div>

    <div class="p-4 d-flex justify-content-center">
        <div class="content-table">

            <div class="mb-3">
                <button type="button" class="btn btn-info w-100 mb-3" (click)="abrirModal()" (click)="limpar()"
                    (click)="novoItemDisciplina()">Adicionar novo
                    item de disciplina</button>

                <select class="form-control" type="number" [(ngModel)]="disciplinaId" (change)="listarPorDisciplina()">
                    <option value="undefined" disabled selected>Selecione a disciplina</option>
                    <option *ngFor="let disciplina of disciplinas" [ngValue]="disciplina.id">
                        {{disciplina.nome}}
                    </option>
                </select>
            </div>
            <div class="table-overflow" *ngIf="disciplinaId != undefined">

                <div class="list-table">
                    <table class="table">
                        <thead class="">
                            <tr>
                                <th scope="col">Título</th>
                                <th scope="col">Objetivo</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of itens">
                                <td>{{item.titulo}}</td>
                                <td>{{item.objetivo}}</td>
                                <td class="line-options">
                                    <select class="form-control" type="text" [(ngModel)]="item.status"
                                        (change)="atualizarStatus(item.id, item.status)">
                                        <option value="Pendente">Pendente</option>
                                        <option value="Em_Andamento">Em Andamento</option>
                                        <option value="Concluido">Concluído</option>
                                        <option value="Refazer">Refazer</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>